# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Some of the commonly used libraries used by Data Scientists include:
* Below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. sql

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
| - |
 |Apache Spark|
 |TensorFlow|
 |Apache Hadoop|

 ### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [33]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [53]:
min = 200
hr = 200/60
hr

3.3333333333333335

## Author

SHYALANDRAN J